<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is a home page</h1>
    <h3><%=1+2 %></h3>
    <h3><%=["hello","bonjour","namaste"][2] %></h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim mollitia commodi voluptatem corrupti magnam rem fuga, et perferendis facere tenetur molestiae expedita nulla asperiores sint sunt rerum eos eius modi architecto quam dolor illum nihil voluptates. Earum dolore delectus autem qui nesciunt pariatur consequatur quasi cumque ab fugiat? Tempora at autem aut cumque veritatis, atque ullam ipsam! Nobis adipisci temporibus rem quidem quas perferendis cum corrupti, consectetur fugit labore quia! Optio odit veritatis ratione ab? Laborum autem ipsam voluptatibus quo? Facere iusto debitis rerum et beatae eos, sunt quis eum harum illum ex ducimus nesciunt eaque atque blanditiis architecto placeat quae nostrum voluptatibus corrupti, earum explicabo quibusdam at reprehenderit. Doloribus natus ex nisi a. Eum, eos at. Veniam ex accusamus ipsa alias obcaecati iusto fuga placeat architecto eum recusandae, itaque possimus voluptates accusantium blanditiis quasi laboriosam perferendis cumque quo quod sapiente. Dolore laboriosam excepturi quos nulla temporibus officiis, ipsam asperiores!</p>
    <button>Click Me</button>
</body>
</html>