*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./pexels-moose-photos-1037993.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

