<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your post</title>
</head>
<body>
    <h2>Edit your post</h2>
    <p>Post id: <%=post.id%></p>
    <p>post username<%=post.username%></p>
    <form >
        <textarea name="" id="" cols="30" rows="10">
            <%=post.content%>
        </textarea>
        <button>Submit</button>
    </form>

    
</body>
</html>