<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit route</title>
</head>
<body>
    <h3>Edit your chat <%=Chat.id%> </h3>
    <p>This chat was sent from <%=Chat.from%> to <%=Chat.to%></p>
    <form action="">
        <textarea name="msg" rows="30" cols="20" id=""><%=Chat.msg%></textarea>
        <button>Edit</button>

    </form>
    
</body>
</html>